/* CSS stylesheet for resume */
body {
  font-family: helvetica, sans-serif;
}

hr {
  margin-top: 0%;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;
  margin-bottom: 0%;
}

h2 {
  font-size: 133%;
  text-transform: uppercase;
  color: grey;
}

h3 {

}

p {

}

.subHeader {
  text-transform: uppercase;
  font-size: 67%;
}

.dates {
  width: 33%;
  box-sizing: border-box;
  float:left;
  position: relative;
}

.company {
  width: 33%;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.location {
  width: 33%;
  box-sizing: border-box;
  float:right;
  position: relative;
  font-style: italic;
}
